<footer>
  <div class="layout">
    <ul class="social-media-list">
      <li><a href="https://twitter.com/{{ site.twitter_username }}">
        <svg class="icon shape-twitter" ><use xlink:href="#shape-twitter" /></svg>
      </a></li>
      <li><a href="https://facebook.com/{{ site.facebook_username }}">
        <svg class="icon shape-facebook" ><use xlink:href="#shape-facebook" /></svg>
      </a></li>
      <li><a href="https://flickr.com/photos/{{ site.flickr_username }}">
        <svg class="icon" ><use xlink:href="#shape-facebook" /></svg>
      </a></li>
      <li><a href="https://youtube.com/playlist?list=PL5225C01A38A652EA">
        <svg class="icon shape-youtube" ><use xlink:href="#shape-youtube" /></svg>
      </a></li>
      <li><a href="https://github.com/{{ site.github_username }}">
        <svg class="icon shape-github" ><use xlink:href="#shape-github" /></svg>
      </a></li>
      <li><a href="{{ 'feed.xml' | prepend: site.baseurl }}">
        <svg class="icon shape-rss" ><use xlink:href="#shape-rss" /></svg>
      </a></li>
    </ul>

    <div id="navigation">
      <nav>
        <ul>
          <li>Navigation</li>
          <li>Goes</li>
          <li>Here</li>
        </ul>
      </nav>
    </div>

    <!-- <hr> -->
    <div class="footer-links">
      <ul>
        <li><a href="http://www.fws.gov/">U.S. Fish and Wildlife Service</a></li>
        <li><a href="http://www.doi.gov/">Department of the Interior</a></li>
        <li><a href="http://www.usa.gov/">USA.gov</a></li>
        <li><a href="http://www.fws.gov/help/about_us.html">About</a></li>
        <li><a href="http://www.fws.gov/help/accessibility.html">Accessibility</a></li>
        <li><a href="http://www.fws.gov/help/policies.html">Privacy</a></li>
        <li><a href="http://www.fws.gov/help/notices.html">Notices</a></li>
        <li><a href="http://www.fws.gov/help/disclaimer.html">Disclaimer</a></li>
        <li><a href="http://www.fws.gov/irm/bpim/foia.html">FOIA</a></li>
      </ul>
    </div>
  </div>
</footer>