<footer class="site-footer">
  <div class="layout">
    <ul class="social-media-list">
      <li title="Follow us on Twitter!"><a href="https://twitter.com/{{ site.twitter_username }}">
        <svg class="icon shape-twitter" ><use xlink:href="#shape-twitter" /></svg>
      </a></li>
      <li title="Like us on Facebook!"><a href="https://facebook.com/{{ site.facebook_username }}">
        <svg class="icon shape-facebook" ><use xlink:href="#shape-facebook" /></svg>
      </a></li>
      <li title="Check out our photos on Flickr!"><a href="https://flickr.com/photos/{{ site.flickr_username }}">
        <svg class="icon shape-flickr" ><use xlink:href="#shape-flickr" /></svg>
      </a></li>
      <li title="Check out our videos on YouTube!"><a href="https://youtube.com/playlist?list=PL5225C01A38A652EA">
        <svg class="icon shape-youtube" ><use xlink:href="#shape-youtube" /></svg>
      </a></li>
      <li title="Check out our projects on GitHub!"><a href="https://github.com/{{ site.github_username }}">
        <svg class="icon shape-github" ><use xlink:href="#shape-github" /></svg>
      </a></li>
      <li title="Subscribe!"><a href="{{ 'feed.xml' | prepend: site.baseurl }}">
        <svg class="icon shape-rss" ><use xlink:href="#shape-rss" /></svg>
      </a></li>
    </ul>

    <div id="navigation">
      <nav class="footer-navigation">
        <ul>
          <li><h2>What We Do</h2></li>
          <li><a href="#">About our Region</a></li>
          <li><a href="#">Protected Species</a></li>
          <li><a href="#">National Wildlife Refuges</a></li>
          <li><a href="#">Wildlife Crime</a></li>
          <li><a href="#">Migratory Bird Conservation</a></li>
          <li><a href="#">Aquatic Conservation</a></li>
          <li><a href="#">Habitat Restoration</a></li>
        </ul>
        <ul>
          <li><h2>Conservation by State</h2></li>
          <li><a href="#">Alabama</a></li>
          <li><a href="#">Arkansas</a></li>
          <li><a href="#">Florida</a></li>
          <li><a href="#">Georgia</a></li>
          <li><a href="#">Kentucky</a></li>
          <li><a href="#">Louisiana</a></li>
          <li><a href="#">Mississippi</a></li>
          <li><a href="#">North Carolina</a></li>
          <li><a href="#">South Carolina</a></li>
          <li><a href="#">Puerto Rico</a></li>
          <li><a href="#">U.S. Virgin Islands</a></li>
        </ul>
        <ul>
          <li><h2>Let's Work Together</h2></li>
          <li><a href="#">Work for Us</a></li>
          <li><a href="#">Volunteer Opportunities</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="#">Internships</a></li>
          <li><a href="#">Grants</a></li>
        </ul>
        <ul>
          <li><h2>Connect with Us</h2></li>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Photos on Flickr</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">YouTube</a></li>
          <li><a href="#">Subscribe to Alerts</a></li>
        </ul>
      </nav>
    </div>

    <!-- <hr> -->
    <div class="footer-links">
      <ul>
        <li><a href="http://www.fws.gov/">U.S. Fish and Wildlife Service</a></li>
        <li><a href="http://www.doi.gov/">Department of the Interior</a></li>
        <li><a href="http://www.usa.gov/">USA.gov</a></li>
        <li><a href="http://www.fws.gov/help/about_us.html">About</a></li>
        <li><a href="http://www.fws.gov/help/accessibility.html">Accessibility</a></li>
        <li><a href="http://www.fws.gov/help/policies.html">Privacy</a></li>
        <li><a href="http://www.fws.gov/help/notices.html">Notices</a></li>
        <li><a href="http://www.fws.gov/help/disclaimer.html">Disclaimer</a></li>
        <li><a href="http://www.fws.gov/irm/bpim/foia.html">FOIA</a></li>
      </ul>
    </div>
  </div>
</footer>