<footer>
  <div class="layout">
    <ul class="social-media-list">
      <li>Social Icons Go Here</li>
      <!-- <li><a href="https://twitter.com/{{ site.twitter_username }}"></a></li>
      <li><a href="https://facebook.com/{{ site.facebook_username }}"></a></li>
      <li><a href="https://flickr.com/photos/{{ site.flickr_username }}"></a></li>
      <li><a href="https://youtube.com/playlist?list=PL5225C01A38A652EA"></a></li>
      <li><a href="https://github.com/{{ site.github_username }}"></a></li>
      <li><a href="{{ 'feed.xml' | prepend: site.baseurl }}"></a></li> -->
    </ul>

    <div id="navigation">
      <nav>
        <ul>
          <li>Navigation</li>
          <li>Goes</li>
          <li>Here</li>
        </ul>
      </nav>
    </div>

    <!-- <hr> -->
    <div class="footer-links">
      <ul>
        <li><a href="http://www.fws.gov/">U.S. Fish and Wildlife Service</a></li>
        <li><a href="http://www.doi.gov/">Department of the Interior</a></li>
        <li><a href="http://www.usa.gov/">USA.gov</a></li>
        <li><a href="http://www.fws.gov/help/about_us.html">About</a></li>
        <li><a href="http://www.fws.gov/help/accessibility.html">Accessibility</a></li>
        <li><a href="http://www.fws.gov/help/policies.html">Privacy</a></li>
        <li><a href="http://www.fws.gov/help/notices.html">Notices</a></li>
        <li><a href="http://www.fws.gov/help/disclaimer.html">Disclaimer</a></li>
        <li><a href="http://www.fws.gov/irm/bpim/foia.html">FOIA</a></li>
      </ul>
    </div>
  </div>
</footer>