<header class="top-header">
  
  <nav class="top-navigation">
    <ul class="nav-links">
      <li><a href="">Navigation 1</a></li>
      <li><a href="">Navi 2</a></li>
      <li><a href="">Navigate 3</a></li>
      <li><a href="">Nav 4</a></li>
      <li><a href="">Navigation 5</a></li>
      <li><a href="">Navigate 6</a></li>
    </ul>
    <a class="button" href="#navigation">Menu</a>
  </nav> <!-- end top navigation -->

  <a href="http://www.fws.gov/" title="U.S. Fish &amp; Wildlife Home"><img class="logo" src="{{ 'img/logo.png' | prepend: site.baseurl }}" alt="Logo of the U.S. Fish &amp; Wildlife Service"></a>
</header>
<div class="hero-image"></div>