  <!-- Social: Facebook / Open Graph -->
  <meta property="fb:admins" content="134503173254693">
  <meta property="fb:app_id" content="134503173254693">
  <meta property="og:url" content="{{ page.title | prepend: site.baseurl }}">
  <meta property="og:type" content="article">
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:image" content="{% if page.image %}{{ page.image }}{% else %}{{ 'img/logo.png' | prepend: site.baseurl }}{% endif %}"/>
  <meta property="og:description" content="{% if page.description %}{{ page.description}}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="article:author" content="https://www.facebook.com/{{ site.facebook_username }}">
  <meta property="article:publisher" content="https://www.facebook.com/{{ site.facebook_username }}">

  <!-- Social: Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{ site.twitter_username}}">
  <meta name="twitter:creator" content="usfwssoutheast">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description}}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:image:src" content="{% if page.image %}{{ page.image }}{% else %}{{ 'img/logo.png' | prepend: site.baseurl }}{% endif %}">

  <!-- Social: Google+ / Schema.org  -->
  <link rel="publisher" href="{{ site.url | prepend: site.baseurl }}">
  <meta itemprop="name" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta itemprop="description" content="{% if page.description %}{{ page.description}}{% else %}{{ site.description }}{% endif %}">
  <meta itemprop="image" content="{% if page.image %}{{ page.image }}{% else %}{{ 'img/logo.png' | prepend: site.baseurl }}{% endif %}">