---
layout: default
---
<section>

  <header>
    <h1>{{ page.title }}</h1>
    <p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article>
    {{ content }}
  </article>

  <footer>
    <hr>
    <p>The mission of the U.S. Fish and Wildlife Service is working with others to conserve, protect, and enhance fish, wildlife, plants, and their habitats for the continuing benefit of the American people. We are both a leader and trusted partner in fish and wildlife conservation, known for our scientific excellence, stewardship of lands and natural resources, dedicated professionals, and commitment to public service. For more information on our work and the people who make it happen, visit <a href="www.fws.gov">www.fws.gov</a>.</p>

    <p>Connect with our <a href="https://www.facebook.com/{{ site.facebook_username }}">Facebook page</a>, follow our <a href="https://www.twitter.com/{{ site.twitter_username }}">tweets</a>, check out our <a href="https://youtube.com/playlist?list=PL5225C01A38A652EA">YouTube Channel</a> and browse photos from our <a href="https://flickr.com/photos/{{ site.flickr_username }}">Flickr page</a>.</p>
  </footer>

</section>
