/*----------------*\
    Color Palette
\*----------------*/
$color-fws-blue: #006EBE;

/*--------------*\
    Text Color
\*--------------*/
$color-body-text: #736357;

/*---------*\
    LINKS
\*---------*/
$link-color: #0088cc;
$link-color-hover: lighten($link-color, 10);
$link-color-visited: darken($link-color, 10);
$link-color-active: darken($link-color, 10);
