.wildlife-carousel {
  margin: 0 $leading;

  .carousel {
    margin: $leading auto;
    text-align: center;

    h3 {
      margin-top: 3px;
    }
  }

  .carousel img {
    @include photo-border;
    border-radius: 50%;
    margin: auto;
  }

  .state-carousel span {
    @include photo-border;
    border-radius: 50%;
    margin: auto;
    width: 100px;
  }
}